In [76]:
import pandas as pd
df= pd.read_csv('pizza_sales.csv')
df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616.0,21348.0,ckn_alfredo_m,1.0,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617.0,21348.0,four_cheese_l,1.0,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618.0,21348.0,napolitana_s,1.0,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619.0,21349.0,mexicana_l,1.0,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620.0,21350.0,bbq_ckn_s,1.0,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [77]:
df['order_date'] = df['order_date'].str.replace('/', '-')

In [78]:
df['order_date'] = pd.to_datetime(df['order_date'], format='%d-%m-%Y')

In [79]:
PilihKolom = df[['order_id', 'order_date','quantity', 'pizza_name']]
PilihKolom

       order_id order_date  quantity                  pizza_name
0           1.0 2015-01-01       1.0          The Hawaiian Pizza
1           2.0 2015-01-01       1.0    The Classic Deluxe Pizza
2           2.0 2015-01-01       1.0       The Five Cheese Pizza
3           2.0 2015-01-01       1.0   The Italian Supreme Pizza
4           2.0 2015-01-01       1.0          The Mexicana Pizza
...         ...        ...       ...                         ...
48615   21348.0 2015-12-31       1.0   The Chicken Alfredo Pizza
48616   21348.0 2015-12-31       1.0       The Four Cheese Pizza
48617   21348.0 2015-12-31       1.0        The Napolitana Pizza
48618   21349.0 2015-12-31       1.0          The Mexicana Pizza
48619   21350.0 2015-12-31       1.0  The Barbecue Chicken Pizza

[48620 rows x 4 columns]

In [80]:
from datetime import timedelta
# df_sorted_desc = PilihKolom.sort_values(by='order_date', ascending=False)

tanggal_indeks = pd.to_datetime('2015-01-01')
i = 0
tanggal_akhir = pd.to_datetime('2015-12-31')
while tanggal_indeks <= tanggal_akhir:
    tanggal_baru = tanggal_indeks + timedelta(days=5)
    
    # Gunakan .loc[] untuk assignment yang benar
    PilihKolom.loc[(PilihKolom['order_date'] >= tanggal_indeks) & 
                   (PilihKolom['order_date'] < tanggal_baru), 'cluster'] = i
    
    # Update tanggal_indeks dan increment nilai i
    tanggal_indeks = tanggal_baru
    i += 1

/tmp/ipykernel_17164/1573059941.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PilihKolom.loc[(PilihKolom['order_date'] >= tanggal_indeks) &

In [81]:
# Kelompokkan berdasarkan minggu
grouped = PilihKolom.groupby('cluster')

# Pisahkan DataFrame untuk setiap minggu
weekly_dataframes = {week: group for week, group in grouped}

# Simpan setiap minggu ke file CSV (opsional) dan tampilkan hasil
for week, df in weekly_dataframes.items():
    print(f"Data untuk Minggu ke-{week}:")
    print(df)
    print("\n")

    # Opsional: Simpan ke file CSV
    # df.to_csv(f"week_{week}.csv", index=False)

Data untuk Minggu ke-0.0:
     order_id order_date  quantity  \
0         1.0 2015-01-01       1.0
1         2.0 2015-01-01       1.0
2         2.0 2015-01-01       1.0
3         2.0 2015-01-01       1.0
4         2.0 2015-01-01       1.0
..        ...        ...       ...
697     307.0 2015-01-05       1.0
698     307.0 2015-01-05       1.0
699     308.0 2015-01-05       1.0
700     308.0 2015-01-05       1.0
701     308.0 2015-01-05       1.0

                                     pizza_name  cluster
0                            The Hawaiian Pizza      0.0
1                      The Classic Deluxe Pizza      0.0
2                         The Five Cheese Pizza      0.0
3                     The Italian Supreme Pizza      0.0
4                            The Mexicana Pizza      0.0
..                                          ...      ...
697                    The Classic Deluxe Pizza      0.0
698                      The Thai Chicken Pizza      0.0
699                          The Hawaiian Pizza      0.0
700  The Pepperoni, Mushroom, and Peppers Pizza      0.0
701                      The Thai Chicken Pizza      0.0

[702 rows x 5 columns]


Data untuk Minggu ke-1.0:
      order_id order_date  quantity  \
702      309.0 2015-01-06       1.0
703      309.0 2015-01-06       1.0
704      310.0 2015-01-06       1.0
705      310.0 2015-01-06       1.0
706      311.0 2015-01-06       1.0
...        ...        ...       ...
1413     628.0 2015-01-10       1.0
1414     629.0 2015-01-10       1.0
1415     629.0 2015-01-10       1.0
1416     629.0 2015-01-10       1.0
1417     629.0 2015-01-10       1.0

                                      pizza_name  cluster
702                        The Five Cheese Pizza      1.0
703                      The Pepper Salami Pizza      1.0
704                           The Hawaiian Pizza      1.0
705                       The Thai Chicken Pizza      1.0
706                           The Sicilian Pizza      1.0
...                                          ...      ...
1413           The Vegetables + Vegetables Pizza      1.0
1414                         The Calabrese Pizza      1.0
1415                       The Five Cheese Pizza      1.0
1416  The Pepperoni, Mushroom, and Peppers Pizza      1.0
1417                     The Spinach Pesto Pizza      1.0

[716 rows x 5 columns]


Data untuk Minggu ke-2.0:
      order_id order_date  quantity                   pizza_name  cluster
1418     630.0 2015-01-11       1.0           The Sicilian Pizza      2.0
1419     631.0 2015-01-11       1.0          The Pepperoni Pizza      2.0
1420     632.0 2015-01-11       1.0     The Classic Deluxe Pizza      2.0
1421     633.0 2015-01-11       1.0      The Mediterranean Pizza      2.0
1422     633.0 2015-01-11       1.0          The Pepperoni Pizza      2.0
...        ...        ...       ...                          ...      ...
2029     906.0 2015-01-15       1.0        The Soppressata Pizza      2.0
2030     906.0 2015-01-15       1.0  The Southwest Chicken Pizza      2.0
2031     907.0 2015-01-15       1.0           The Sicilian Pizza      2.0
2032     908.0 2015-01-15       1.0          The Pepperoni Pizza      2.0
2033     908.0 2015-01-15       1.0       The Thai Chicken Pizza      2.0

[616 rows x 5 columns]


Data untuk Minggu ke-3.0:
      order_id order_date  quantity                        pizza_name  cluster
2034     909.0 2015-01-16       1.0        The Barbecue Chicken Pizza      3.0
2035     909.0 2015-01-16       1.0      The Italian Vegetables Pizza      3.0
2036     909.0 2015-01-16       1.0           The Spicy Italian Pizza      3.0
2037     910.0 2015-01-16       1.0       The Italian Capocollo Pizza      3.0
2038     910.0 2015-01-16       1.0  The Prosciutto and Arugula Pizza      3.0
...        ...        ...       ...                               ...      ...
2703    1199.0 2015-01-20       1.0         The Chicken Alfredo Pizza      3.0
2704    1200.0 2015-01-20       1.0         The Chicken Alfredo Pizza      3.0
2705    1200.0 2015-01-20       1.0  The Prosciutto and Arugula Pizza      3.0
2706    1201.0 2015-01-20       1.0             The Five Cheese Pizza      3.0
2707    1201.0 2015-01-20       1.0           The Spicy Italian Pizza      3.0

[674 rows x 5 columns]


Data untuk Minggu ke-4.0:
      order_id order_date  quantity                         pizza_name  \
2708    1202.0 2015-01-21       1.0                 The Big Meat Pizza
2709    1203.0 2015-01-21       1.0          The Italian Supreme Pizza
2710    1204.0 2015-01-21       1.0                 The Big Meat Pizza
2711    1204.0 2015-01-21       1.0                 The Hawaiian Pizza
2712    1204.0 2015-01-21       1.0                 The Sicilian Pizza
...        ...        ...       ...                                ...
3377    1494.0 2015-01-25       1.0  The Vegetables + Vegetables Pizza
3378    1495.0 2015-01-25       1.0                 The Mexicana Pizza
3379    1495.0 2015-01-25       1.0            The Spicy Italian Pizza
3380    1495.0 2015-01-25       1.0            The Spinach Pesto Pizza
3381    1496.0 2015-01-25       1.0               The Napolitana Pizza

      cluster
2708      4.0
2709      4.0
2710      4.0
2711      4.0
2712      4.0
...       ...
3377      4.0
3378      4.0
3379      4.0
3380      4.0
3381      4.0

[674 rows x 5 columns]


Data untuk Minggu ke-5.0:
      order_id order_date  quantity  \
3382    1497.0 2015-01-26       1.0
3383    1497.0 2015-01-26       1.0
3384    1497.0 2015-01-26       1.0
3385    1498.0 2015-01-26       1.0
3386    1499.0 2015-01-26       1.0
...        ...        ...       ...
4008    1790.0 2015-01-30       1.0
4009    1791.0 2015-01-30       1.0
4010    1791.0 2015-01-30       1.0
4011    1791.0 2015-01-30       1.0
4012    1791.0 2015-01-30       1.0

                                      pizza_name  cluster
3382                          The Big Meat Pizza      5.0
3383                         The Calabrese Pizza      5.0
3384                   The Italian Supreme Pizza      5.0
3385                      The Thai Chicken Pizza      5.0
3386                          The Hawaiian Pizza      5.0
...                                          ...      ...
4008                     The Spicy Italian Pizza      5.0
4009                The California Chicken Pizza      5.0
4010                       The Four Cheese Pizza      5.0
4011  The Pepperoni, Mushroom, and Peppers Pizza      5.0
4012                      The Thai Chicken Pizza      5.0

[631 rows x 5 columns]


Data untuk Minggu ke-6.0:
      order_id order_date  quantity                  pizza_name  cluster
4013    1792.0 2015-01-31       1.0          The Mexicana Pizza      6.0
4014    1792.0 2015-01-31       1.0   The Spinach Supreme Pizza      6.0
4015    1792.0 2015-01-31       1.0             The Greek Pizza      6.0
4016    1793.0 2015-01-31       1.0       The Four Cheese Pizza      6.0
4017    1793.0 2015-01-31       1.0     The Pepper Salami Pizza      6.0
...        ...        ...       ...                         ...      ...
4770    2111.0 2015-02-04       1.0         The Pepperoni Pizza      6.0
4771    2112.0 2015-02-04       1.0  The Barbecue Chicken Pizza      6.0
4772    2113.0 2015-02-04       1.0   The Chicken Alfredo Pizza      6.0
4773    2113.0 2015-02-04       1.0          The Mexicana Pizza      6.0
4774    2114.0 2015-02-04       1.0    The Classic Deluxe Pizza      6.0

[762 rows x 5 columns]


Data untuk Minggu ke-7.0:
      order_id order_date  quantity                   pizza_name  cluster
4775    2115.0 2015-02-05       1.0           The Big Meat Pizza      7.0
4776    2115.0 2015-02-05       1.0           The Hawaiian Pizza      7.0
4777    2115.0 2015-02-05       1.0          The Pepperoni Pizza      7.0
4778    2115.0 2015-02-05       1.0  The Southwest Chicken Pizza      7.0
4779    2116.0 2015-02-05       1.0           The Mexicana Pizza      7.0
...        ...        ...       ...                          ...      ...
5445    2406.0 2015-02-09       1.0           The Big Meat Pizza      7.0
5446    2406.0 2015-02-09       1.0          The Pepperoni Pizza      7.0
5447    2407.0 2015-02-09       1.0      The Mediterranean Pizza      7.0
5448    2408.0 2015-02-09       1.0        The Five Cheese Pizza      7.0
5449    2408.0 2015-02-09       1.0        The Four Cheese Pizza      7.0

[675 rows x 5 columns]


Data untuk Minggu ke-8.0:
      order_id order_date  quantity                  pizza_name  cluster
5450    2409.0 2015-02-10       1.0  The Barbecue Chicken Pizza      8.0
5451    2409.0 2015-02-10       1.0         The Pepperoni Pizza      8.0
5452    2409.0 2015-02-10       1.0       The Soppressata Pizza      8.0
5453    2409.0 2015-02-10       1.0             The Greek Pizza      8.0
5454    2410.0 2015-02-10       1.0        The Napolitana Pizza      8.0
...        ...        ...       ...                         ...      ...
6143    2720.0 2015-02-14       1.0  The Barbecue Chicken Pizza      8.0
6144    2721.0 2015-02-14       1.0       The Five Cheese Pizza      8.0
6145    2722.0 2015-02-14       1.0  The Barbecue Chicken Pizza      8.0
6146    2722.0 2015-02-14       1.0          The Hawaiian Pizza      8.0
6147    2722.0 2015-02-14       2.0         The Pepperoni Pizza      8.0

[698 rows x 5 columns]


Data untuk Minggu ke-9.0:
      order_id order_date  quantity  \
6148    2723.0 2015-02-15       1.0
6149    2724.0 2015-02-15       1.0
6150    2724.0 2015-02-15       1.0
6151    2724.0 2015-02-15       1.0
6152    2725.0 2015-02-15       1.0
...        ...        ...       ...
6799    3002.0 2015-02-19       1.0
6800    3002.0 2015-02-19       1.0
6801    3003.0 2015-02-19       1.0
6802    3003.0 2015-02-19       1.0
6803    3004.0 2015-02-19       1.0

                                      pizza_name  cluster
6148                         The Pepperoni Pizza      9.0
6149                The California Chicken Pizza      9.0
6150                    The Classic Deluxe Pizza      9.0
6151           The Vegetables + Vegetables Pizza      9.0
6152                  The Barbecue Chicken Pizza      9.0
...                                          ...      ...
6799  The Pepperoni, Mushroom, and Peppers Pizza      9.0
6800                 The Southwest Chicken Pizza      9.0
6801                     The Chicken Pesto Pizza      9.0
6802                     The Pepper Salami Pizza      9.0
6803                          The Sicilian Pizza      9.0

[656 rows x 5 columns]


Data untuk Minggu ke-10.0:
      order_id order_date  quantity                        pizza_name  cluster
6804    3005.0 2015-02-20       1.0                The Mexicana Pizza     10.0
6805    3006.0 2015-02-20       1.0               The Calabrese Pizza     10.0
6806    3006.0 2015-02-20       1.0           The Chicken Pesto Pizza     10.0
6807    3006.0 2015-02-20       1.0            The Green Garden Pizza     10.0
6808    3006.0 2015-02-20       1.0               The Pepperoni Pizza     10.0
...        ...        ...       ...                               ...      ...
7442    3280.0 2015-02-24       1.0  The Prosciutto and Arugula Pizza     10.0
7443    3281.0 2015-02-24       1.0             The Five Cheese Pizza     10.0
7444    3281.0 2015-02-24       1.0               The Pepperoni Pizza     10.0
7445    3281.0 2015-02-24       1.0         The Spinach Supreme Pizza     10.0
7446    3282.0 2015-02-24       1.0         The Spinach Supreme Pizza     10.0

[643 rows x 5 columns]


Data untuk Minggu ke-11.0:
      order_id order_date  quantity                    pizza_name  cluster
7447    3283.0 2015-02-25       2.0         The Four Cheese Pizza     11.0
7448    3283.0 2015-02-25       1.0          The Napolitana Pizza     11.0
7449    3284.0 2015-02-25       1.0            The Hawaiian Pizza     11.0
7450    3285.0 2015-02-25       1.0    The Barbecue Chicken Pizza     11.0
7451    3286.0 2015-02-25       1.0            The Big Meat Pizza     11.0
...        ...        ...       ...                           ...      ...
8142    3576.0 2015-03-01       1.0        The Thai Chicken Pizza     11.0
8143    3577.0 2015-03-01       1.0   The Southwest Chicken Pizza     11.0
8144    3578.0 2015-03-01       1.0  The California Chicken Pizza     11.0
8145    3579.0 2015-03-01       1.0            The Big Meat Pizza     11.0
8146    3579.0 2015-03-01       1.0      The Classic Deluxe Pizza     11.0

[700 rows x 5 columns]


Data untuk Minggu ke-12.0:
      order_id order_date  quantity  \
8147    3580.0 2015-03-02       1.0
8148    3581.0 2015-03-02       1.0
8149    3582.0 2015-03-02       1.0
8150    3582.0 2015-03-02       1.0
8151    3583.0 2015-03-02       1.0
...        ...        ...       ...
8842    3877.0 2015-03-06       1.0
8843    3877.0 2015-03-06       1.0
8844    3877.0 2015-03-06       1.0
8845    3878.0 2015-03-06       1.0
8846    3879.0 2015-03-06       1.0

                                      pizza_name  cluster
8147  The Pepperoni, Mushroom, and Peppers Pizza     12.0
8148                   The Chicken Alfredo Pizza     12.0
8149            The Prosciutto and Arugula Pizza     12.0
8150                     The Spicy Italian Pizza     12.0
8151                  The Barbecue Chicken Pizza     12.0
...                                          ...      ...
8842                        The Brie Carre Pizza     12.0
8843                       The Five Cheese Pizza     12.0
8844                   The Spinach Supreme Pizza     12.0
8845                          The Hawaiian Pizza     12.0
8846                   The Italian Supreme Pizza     12.0

[700 rows x 5 columns]


Data untuk Minggu ke-13.0:
      order_id order_date  quantity  \
8847    3880.0 2015-03-07       1.0
8848    3880.0 2015-03-07       1.0
8849    3880.0 2015-03-07       1.0
8850    3880.0 2015-03-07       1.0
8851    3881.0 2015-03-07       2.0
...        ...        ...       ...
9523    4173.0 2015-03-11       1.0
9524    4173.0 2015-03-11       1.0
9525    4174.0 2015-03-11       1.0
9526    4175.0 2015-03-11       1.0
9527    4176.0 2015-03-11       1.0

                                      pizza_name  cluster
8847                  The Barbecue Chicken Pizza     13.0
8848  The Pepperoni, Mushroom, and Peppers Pizza     13.0
8849                         The Pepperoni Pizza     13.0
8850            The Prosciutto and Arugula Pizza     13.0
8851                          The Sicilian Pizza     13.0
...                                          ...      ...
9523                    The Classic Deluxe Pizza     13.0
9524                     The Spinach Pesto Pizza     13.0
9525                      The Green Garden Pizza     13.0
9526                      The Green Garden Pizza     13.0
9527                     The Mediterranean Pizza     13.0

[681 rows x 5 columns]


Data untuk Minggu ke-14.0:
       order_id order_date  quantity  \
9528     4177.0 2015-03-12       1.0
9529     4177.0 2015-03-12       1.0
9530     4177.0 2015-03-12       1.0
9531     4177.0 2015-03-12       1.0
9532     4178.0 2015-03-12       2.0
...         ...        ...       ...
10197    4467.0 2015-03-16       1.0
10198    4468.0 2015-03-16       1.0
10199    4469.0 2015-03-16       1.0
10200    4469.0 2015-03-16       1.0
10201    4469.0 2015-03-16       1.0

                                       pizza_name  cluster
9528                          The Calabrese Pizza     14.0
9529                           The Mexicana Pizza     14.0
9530   The Pepperoni, Mushroom, and Peppers Pizza     14.0
9531                          The Pepperoni Pizza     14.0
9532                 The California Chicken Pizza     14.0
...                                           ...      ...
10197                   The Spinach Supreme Pizza     14.0
10198           The Vegetables + Vegetables Pizza     14.0
10199                     The Chicken Pesto Pizza     14.0
10200                     The Spicy Italian Pizza     14.0
10201           The Vegetables + Vegetables Pizza     14.0

[674 rows x 5 columns]


Data untuk Minggu ke-15.0:
       order_id order_date  quantity                   pizza_name  cluster
10202    4470.0 2015-03-17       1.0          The Pepperoni Pizza     15.0
10203    4470.0 2015-03-17       1.0           The Sicilian Pizza     15.0
10204    4470.0 2015-03-17       1.0   The Spinach and Feta Pizza     15.0
10205    4471.0 2015-03-17       1.0           The Big Meat Pizza     15.0
10206    4471.0 2015-03-17       1.0  The Italian Capocollo Pizza     15.0
...         ...        ...       ...                          ...      ...
10917    4780.0 2015-03-21       1.0           The Mexicana Pizza     15.0
10918    4781.0 2015-03-21       1.0  The Southwest Chicken Pizza     15.0
10919    4782.0 2015-03-21       1.0          The Pepperoni Pizza     15.0
10920    4782.0 2015-03-21       1.0          The Pepperoni Pizza     15.0
10921    4782.0 2015-03-21       1.0      The Spinach Pesto Pizza     15.0

[720 rows x 5 columns]


Data untuk Minggu ke-16.0:
       order_id order_date  quantity                         pizza_name  \
10922    4783.0 2015-03-22       1.0   The Prosciutto and Arugula Pizza
10923    4783.0 2015-03-22       1.0         The Spinach and Feta Pizza
10924    4783.0 2015-03-22       1.0             The Thai Chicken Pizza
10925    4784.0 2015-03-22       1.0  The Vegetables + Vegetables Pizza
10926    4785.0 2015-03-22       1.0            The Spicy Italian Pizza
...         ...        ...       ...                                ...
11503    5058.0 2015-03-26       1.0         The Spinach and Feta Pizza
11504    5059.0 2015-03-26       1.0                 The Hawaiian Pizza
11505    5059.0 2015-03-26       1.0        The Italian Capocollo Pizza
11506    5060.0 2015-03-26       1.0                 The Mexicana Pizza
11507    5061.0 2015-03-26       1.0        The Southwest Chicken Pizza

       cluster
10922     16.0
10923     16.0
10924     16.0
10925     16.0
10926     16.0
...        ...
11503     16.0
11504     16.0
11505     16.0
11506     16.0
11507     16.0

[586 rows x 5 columns]


Data untuk Minggu ke-17.0:
       order_id order_date  quantity                 pizza_name  cluster
11508    5062.0 2015-03-27       1.0         The Hawaiian Pizza     17.0
11509    5063.0 2015-03-27       1.0    The Spicy Italian Pizza     17.0
11510    5063.0 2015-03-27       1.0     The Thai Chicken Pizza     17.0
11511    5063.0 2015-03-27       1.0            The Greek Pizza     17.0
11512    5064.0 2015-03-27       1.0  The Chicken Alfredo Pizza     17.0
...         ...        ...       ...                        ...      ...
12229    5369.0 2015-03-31       1.0         The Hawaiian Pizza     17.0
12230    5369.0 2015-03-31       1.0         The Mexicana Pizza     17.0
12231    5369.0 2015-03-31       1.0         The Sicilian Pizza     17.0
12232    5369.0 2015-03-31       1.0    The Spicy Italian Pizza     17.0
12233    5370.0 2015-03-31       1.0    The Spicy Italian Pizza     17.0

[726 rows x 5 columns]


Data untuk Minggu ke-18.0:
       order_id order_date  quantity  \
12234    5371.0 2015-04-01       1.0
12235    5371.0 2015-04-01       1.0
12236    5372.0 2015-04-01       1.0
12237    5372.0 2015-04-01       1.0
12238    5373.0 2015-04-01       1.0
...         ...        ...       ...
12938    5677.0 2015-04-05       1.0
12939    5677.0 2015-04-05       1.0
12940    5677.0 2015-04-05       1.0
12941    5678.0 2015-04-05       1.0
12942    5679.0 2015-04-05       1.0

                                       pizza_name  cluster
12234                          The Sicilian Pizza     18.0
12235                       The Soppressata Pizza     18.0
12236                         The Pepperoni Pizza     18.0
12237                             The Greek Pizza     18.0
12238                       The Four Cheese Pizza     18.0
...                                           ...      ...
12938                The Italian Vegetables Pizza     18.0

In [82]:
df_list = []
for i in range(len(weekly_dataframes)):
    # Menghitung jumlah quantity per pizza
    pizza_quantity = weekly_dataframes[i].groupby('pizza_name')['quantity'].sum()

    # Mengurutkan berdasarkan quantity dan mengambil yang teratas
    most_ordered_pizza = pizza_quantity.sort_values(ascending=False).head(3).reset_index()
    most_ordered_pizza['cluster'] = i

    df_list.append(most_ordered_pizza)

result_df = pd.concat(df_list, ignore_index=True)
result_df

                            pizza_name  quantity  cluster
0           The Barbecue Chicken Pizza      40.0        0
1            The Italian Supreme Pizza      38.0        0
2               The Thai Chicken Pizza      38.0        0
3                  The Pepperoni Pizza      46.0        1
4             The Classic Deluxe Pizza      38.0        1
..                                 ...       ...      ...
214                 The Big Meat Pizza      29.0       71
215                 The Hawaiian Pizza      27.0       71
216           The Classic Deluxe Pizza      34.0       72
217       The California Chicken Pizza      28.0       72
218  The Vegetables + Vegetables Pizza      28.0       72

[219 rows x 3 columns]

In [83]:
# Menggunakan pivot_table untuk membuat format one-hot encoding
one_hot = pd.get_dummies(result_df['pizza_name'])

# Menambahkan kolom Transaksi_ID
df_one_hot = result_df.join(one_hot)
df_one_hot

,pizza_name,quantity,cluster,The Barbecue Chicken Pizza,The Big Meat Pizza,The California Chicken Pizza,The Classic Deluxe Pizza,The Four Cheese Pizza,The Hawaiian Pizza,The Italian Supreme Pizza,The Pepperoni Pizza,The Sicilian Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
0,The Barbecue Chicken Pizza,40.0,0,True,False,False,False,False,False,False,False,False,False,False,False,False
1,The Italian Supreme Pizza,38.0,0,False,False,False,False,False,False,True,False,False,False,False,False,False
2,The Thai Chicken Pizza,38.0,0,False,False,False,False,False,False,False,False,False,False,False,True,False
3,The Pepperoni Pizza,46.0,1,False,False,False,False,False,False,False,True,False,False,False,False,False
4,The Classic Deluxe Pizza,38.0,1,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,The Big Meat Pizza,29.0,71,False,True,False,False,False,False,False,False,False,False,False,False,False
215,The Hawaiian Pizza,27.0,71,False,False,False,False,False,True,False,False,False,False,False,False,False
216,The Classic Deluxe Pizza,34.0,72,False,False,False,True,False,False,False,False,False,False,False,False,False
217,The California Chicken Pizza,28.0,72,False,False,True,False,False,False,False,False,False,False,False,False,False
218,The Vegetables + Vegetables Pizza,28.0,72,False,False,False,False,False,False,False,False,False,False,False,False,True

In [84]:
df_one_hot.drop(['pizza_name', 'quantity'], axis=1, inplace=True)

In [85]:
df_one_hot

,cluster,The Barbecue Chicken Pizza,The Big Meat Pizza,The California Chicken Pizza,The Classic Deluxe Pizza,The Four Cheese Pizza,The Hawaiian Pizza,The Italian Supreme Pizza,The Pepperoni Pizza,The Sicilian Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
0,0,True,False,False,False,False,False,False,False,False,False,False,False,False
1,0,False,False,False,False,False,False,True,False,False,False,False,False,False
2,0,False,False,False,False,False,False,False,False,False,False,False,True,False
3,1,False,False,False,False,False,False,False,True,False,False,False,False,False
4,1,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,71,False,True,False,False,False,False,False,False,False,False,False,False,False
215,71,False,False,False,False,False,True,False,False,False,False,False,False,False
216,72,False,False,False,True,False,False,False,False,False,False,False,False,False
217,72,False,False,True,False,False,False,False,False,False,False,False,False,False
218,72,False,False,False,False,False,False,False,False,False,False,False,False,True

In [86]:
# Menggunakan pivot_table untuk menjadikan Transaksi_ID sebagai index dan barang sebagai kolom
df_pivot = df_one_hot.groupby(['cluster']).sum()
df_pivot

,The Barbecue Chicken Pizza,The Big Meat Pizza,The California Chicken Pizza,The Classic Deluxe Pizza,The Four Cheese Pizza,The Hawaiian Pizza,The Italian Supreme Pizza,The Pepperoni Pizza,The Sicilian Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
cluster,,,,,,,,,,,,,
0,1,0,0,0,0,0,1,0,0,0,0,1,0
1,0,0,0,1,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,1,0,0,0
3,1,0,1,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,0,0,1,1,0,1,0,0,0,0,0,0,0
69,0,0,1,0,0,0,0,1,1,0,0,0,0
70,0,0,1,0,0,0,0,1,0,0,0,1,0
71,0,1,0,0,0,1,0,0,0,0,0,1,0
72,0,0,1,1,0,0,0,0,0,0,0,0,1

In [87]:
df_pivot[df_pivot > 1] = 1

In [88]:
df_pivot

,The Barbecue Chicken Pizza,The Big Meat Pizza,The California Chicken Pizza,The Classic Deluxe Pizza,The Four Cheese Pizza,The Hawaiian Pizza,The Italian Supreme Pizza,The Pepperoni Pizza,The Sicilian Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
cluster,,,,,,,,,,,,,
0,1,0,0,0,0,0,1,0,0,0,0,1,0
1,0,0,0,1,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,1,0,0,0
3,1,0,1,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,0,0,1,1,0,1,0,0,0,0,0,0,0
69,0,0,1,0,0,0,0,1,1,0,0,0,0
70,0,0,1,0,0,0,0,1,0,0,0,1,0
71,0,1,0,0,0,1,0,0,0,0,0,1,0
72,0,0,1,1,0,0,0,0,0,0,0,0,1

In [89]:
from mlxtend.frequent_patterns import apriori, association_rules
# Menggunakan algoritma Apriori untuk menemukan itemset yang sering muncul
frequent_itemsets = apriori(df_pivot, min_support=0.15, use_colnames=True)
frequent_itemsets

/home/gregorius-viko/.pyenv/versions/3.13.0/lib/python3.13/site-packages/mlxtend/frequent_patterns/fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.452055                       (The Barbecue Chicken Pizza)
1   0.383562                     (The California Chicken Pizza)
2   0.369863                         (The Classic Deluxe Pizza)
3   0.465753                               (The Hawaiian Pizza)
4   0.479452                              (The Pepperoni Pizza)
5   0.383562                           (The Thai Chicken Pizza)
6   0.164384  (The Barbecue Chicken Pizza, The Classic Delux...
7   0.178082  (The Barbecue Chicken Pizza, The Pepperoni Pizza)
8   0.150685  (The California Chicken Pizza, The Hawaiian Pi...
9   0.191781  (The California Chicken Pizza, The Pepperoni P...
10  0.178082     (The Classic Deluxe Pizza, The Hawaiian Pizza)
11  0.178082       (The Thai Chicken Pizza, The Hawaiian Pizza)

In [ ]:
# Menghasilkan aturan asosiasi dari itemset yang sering muncul
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1, num_itemsets=3)

# Menampilkan hasil aturan asosiasi
print("\nAturan Asosiasi yang ditemukan:")
rules

Aturan Asosiasi yang ditemukan:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(The Barbecue Chicken Pizza),(The Classic Deluxe Pizza),0.452055,0.369863,0.164384,0.363636,0.983165,1.0,-0.002815,0.990215,-0.030303,0.250000,-0.009881,0.404040
1,(The Classic Deluxe Pizza),(The Barbecue Chicken Pizza),0.369863,0.452055,0.164384,0.444444,0.983165,1.0,-0.002815,0.986301,-0.026455,0.250000,-0.013889,0.404040
2,(The Barbecue Chicken Pizza),(The Pepperoni Pizza),0.452055,0.479452,0.178082,0.393939,0.821645,1.0,-0.038656,0.858904,-0.283747,0.236364,-0.164274,0.382684
3,(The Pepperoni Pizza),(The Barbecue Chicken Pizza),0.479452,0.452055,0.178082,0.371429,0.821645,1.0,-0.038656,0.871731,-0.294286,0.236364,-0.147143,0.382684
4,(The California Chicken Pizza),(The Hawaiian Pizza),0.383562,0.465753,0.150685,0.392857,0.843487,1.0,-0.027960,0.879936,-0.231366,0.215686,-0.136447,0.358193
5,(The Hawaiian Pizza),(The California Chicken Pizza),0.465753,0.383562,0.150685,0.323529,0.843487,1.0,-0.027960,0.911257,-0.257785,0.215686,-0.097386,0.358193
6,(The California Chicken Pizza),(The Pepperoni Pizza),0.383562,0.479452,0.191781,0.500000,1.042857,1.0,0.007881,1.041096,0.066667,0.285714,0.039474,0.450000
7,(The Pepperoni Pizza),(The California Chicken Pizza),0.479452,0.383562,0.191781,0.400000,1.042857,1.0,0.007881,1.027397,0.078947,0.285714,0.026667,0.450000
8,(The Classic Deluxe Pizza),(The Hawaiian Pizza),0.369863,0.465753,0.178082,0.481481,1.033769,1.0,0.005817,1.030333,0.051839,0.270833,0.029440,0.431917
9,(The Hawaiian Pizza),(The Classic Deluxe Pizza),0.465753,0.369863,0.178082,0.382353,1.033769,1.0,0.005817,1.020222,0.061144,0.270833,0.019821,0.431917
10,(The Thai Chicken Pizza),(The Hawaiian Pizza),0.383562,0.465753,0.178082,0.464286,0.996849,1.0,-0.000563,0.997260,-0.005102,0.265306,-0.002747,0.423319
11,(The Hawaiian Pizza),(The Thai Chicken Pizza),0.465753,0.383562,0.178082,0.382353,0.996849,1.0,-0.000563,0.998043,-0.005882,0.265306,-0.001961,0.423319

In [91]:
# Fungsi untuk menghitung support
def calculate_support(itemset, transactions):
    count = 0
    for transaction in transactions:
        if all(item in transaction for item in itemset):
            count += 1
    return count / len(transactions)

In [92]:
# Fungsi untuk menemukan frequent itemsets
def find_frequent_itemsets(transactions, min_support):
    itemsets = []
    items = {item for transaction in transactions for item in transaction}
    
    # Iterasi level itemsets
    k = 1
    while True:
        if k == 1:
            # Itemsets tunggal
            candidates = [{item} for item in items]
        else:
            # Gabungkan frequent itemsets sebelumnya
            candidates = [
                set(i).union(set(j)) for i in itemsets for j in itemsets
                if len(set(i).union(set(j))) == k
            ]
            # Hapus duplikat
            candidates = list(set(frozenset(c) for c in candidates))
        
        # Hitung support kandidat
        frequent_itemsets = []
        for candidate in candidates:
            support = calculate_support(candidate, transactions)
            if support >= min_support:
                frequent_itemsets.append(candidate)
                print(f"Frequent Itemset: {candidate}, Support: {support:.2f}")
        
        # Hentikan jika tidak ada frequent itemsets
        if not frequent_itemsets:
            break
        
        # Simpan frequent itemsets
        itemsets = frequent_itemsets
        k += 1
    
    return itemsets

In [93]:
# Fungsi untuk menghasilkan aturan asosiasi
def generate_association_rules(frequent_itemsets, transactions, min_confidence):
    rules = []
    for itemset in frequent_itemsets:
        for i in range(1, len(itemset)):
            for antecedent in combinations(itemset, i):
                antecedent = set(antecedent)
                consequent = itemset - antecedent
                if consequent:
                    # Hitung confidence
                    support_itemset = calculate_support(itemset, transactions)
                    support_antecedent = calculate_support(antecedent, transactions)
                    confidence = support_itemset / support_antecedent
                    if confidence >= min_confidence:
                        rules.append((antecedent, consequent, confidence))
                        print(f"Rule: {antecedent} -> {consequent}, Confidence: {confidence:.2f}")
    return rules

In [94]:
# # Parameter
# min_support = 0.5
# min_confidence = 0.7

# # Jalankan Apriori
# print("Step 1: Frequent Itemsets")
# frequent_itemsets = find_frequent_itemsets(transactions, min_support)

# print("\nStep 2: Association Rules")
# rules = generate_association_rules(frequent_itemsets, transactions, min_confidence)